# RabbitMQ

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=change_me

# Nom de noeud fixe pour la persistance des données RabbitMQ
# Fixed node name required for data persistence after docker compose down/up
RABBITMQ_NODENAME=rabbit@rabbitmq-server